# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
FrontEnd/authors/dist
FrontEnd/authors/tmp
FrontEnd/authors/out-tsc

# dependencies
FrontEnd/authors/node_modules


# IDE - VSCode
FrontEnd/authors/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
FrontEnd/authors/.sass-cache
FrontEnd/authors/connect.lock
FrontEnd/authors/coverage
FrontEnd/authors/libpeerconnection.log
FrontEnd/authors/npm-debug.log
FrontEnd/authors/yarn-error.log
FrontEnd/authors/testem.log
FrontEnd/authors/typings

# System Files
.DS_Store
Thumbs.db
